!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/bootstrap-responsive.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/common.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/fontawesome.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/project.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/songs.css', media='screen', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //
       Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    title Songs
  body
    #absolute-wrapper
      img.image.image-1(src='http://0.gravatar.com/avatar/01ed3479c9fc44fc6d8adf920db94357?s=40&d=http%3A%2F%2Fwww.insidesales.com%2Finsider%2Fwp-includes%2Fimages%2Fblank.gif&r=PG')
      img.image.image-2(src='images/iphone.png')
      img.image.image-3(src='http://prescottcomputerguy.com/screenflow/ScreenFlowShapes/shapes/arrow_green.png')
    .container-fluid
      .row-fluid
        span.span6
        span.span6
      .row-fluid
        span.span2.span2-1
          img.pull-center.image.image-5(src='images/test.jpg')
          h4.heading.pull-center 4 mutual friends
          .well
            .row-fluid
              span.span3
                img.pull-center.image(src='http://cdn4.edutopia.org/files/imagecache/profile_picture_list/profile_pictures/IMG_2709face.jpg')
                p Sarah
                p  
              span.span3
                img.pull-center.image(src='http://www.zli.bus.umich.edu/2011Report/images/pictures/thumbnails/zli-face002.jpg')
                p Dave
                p  
              span.span3
                img.pull-center.image(src='http://www.symprex.com/images/graphics/face_tile_0161.gif')
                p Elisa
              span.span3
                img.pull-center.image.image-6(src='http://s3-media4.ak.yelpcdn.com/photo/OxRxOt98HG4vjJLT7pFBuw/ss.jpg')
                p Rachel
          .row-fluid
            span.span12
              .row-fluid
                span.span4
                  img.pull-right.image(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm7C6CCYYbG9M-MdwH9rggL2rh3asHXvDd5rKpyHaK5A-EEEFb')
                span.span8
                  p Facebook Social Plugin
          .row-fluid.row-fluid-1
            span.span1
              img.pull-right.image(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm7C6CCYYbG9M-MdwH9rggL2rh3asHXvDd5rKpyHaK5A-EEEFb')
            span.span11
              p
                strong
                  span Rob Mason
                | ,
                strong
                  span Peter Jordan
                | , and 12 friends have connected to HelpAround
          .row-fluid
            span.span2
              img.pull-center.image.image-4(src='http://0.gravatar.com/avatar/62f00843298d5609408046bdf22432ae?s=40&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&r=PG')
              img.pull-center.image(src='http://0.gravatar.com/avatar/01ed3479c9fc44fc6d8adf920db94357?s=40&d=http%3A%2F%2Fwww.insidesales.com%2Finsider%2Fwp-includes%2Fimages%2Fblank.gif&r=PG')
            span.span2
              img.pull-center.image.image-4(src='http://media.licdn.com/mpr/mpr/shrink_40_40/p/4/000/146/227/1a2171f.jpg')
              img.pull-center.image(src='http://cdn4.edutopia.org/files/imagecache/profile_picture_list/profile_pictures/IMG_2709face.jpg')
            span.span2
              img.pull-center.image.image-4(src='http://1.gravatar.com/avatar/5bc160b99a258b83d2f7c12a6e4f635e?s=40&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&r=PG')
              img.pull-center.image(src='http://www.symprex.com/images/graphics/face_tile_2052.gif')
            span.span2
              img.pull-center.image.image-4(src='http://1.gravatar.com/avatar/bf7190251788535f54e5c8732d92e76d?s=40&d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&r=G')
              img.pull-center.image(src='http://www.symprex.com/images/graphics/face_tile_0161.gif')
            span.span2
              img.pull-center.image.image-4(src='http://m.c.lnkd.licdn.com/mpr/mpr/shrink_40_40/p/2/000/057/206/1baffec.jpg')
              img.pull-center.image(src='http://mcdevitt.gatech.edu/sites/default/files/imagecache/littleThumbs/Anh%20face%20pic_0.jpg')
            span.span2
              img.pull-center.image.image-4(src='http://s3-media1.ak.yelpcdn.com/photo/DAnqLP1PEOIKBFWdxh6sNg/ss.jpg')
              img.pull-center.image(src='http://www.zli.bus.umich.edu/2011Report/images/pictures/thumbnails/zli-face021.jpg')
          .row-fluid
            span.span12
              div
                div
        span.span3.span3-1
          h4.heading
          h3.heading.pull-center.heading-1.heading-2 Shane needs your help!
          h4.heading.pull-center.heading-1
            | Does anyone have a car seat booster I can borrow for a few hours? Need to pick up my kids from soccer with a Zipcar.
          .well
            p also here: 
            img.image(src='http://profile.ak.fbcdn.net/hprofile-ak-prn1/50554_225408870166_7443043_q.jpg')
            img.image(src='http://gravatar.com/avatar/477e0cb1c6e6e39cbb0afb6058b30eca/?s=50&d=http%3A//livefyre-avatar.s3.amazonaws.com/a/anon/50.jpg')
            img.image(src='http://d2oadd98wnjs7n.cloudfront.net/individuals/1885451/pictures/cubepeep/20130109065242-Face.png?1357743164')
          button.btn.pull-center Happy to Help
          img.pull-center.image.image-7(src='images/fb_ha.png')
        span.span4
        span.span3
